__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
*.db
*.sqlite
*.sqlite3
.env
.git
.gitignore
*.md
!README.md
.vscode
.idea
*.log
uploads/
test_*
pytest_cache/
.pytest_cache/
htmlcov/
.coverage
.DS_Store
