fastapi
uvicorn[standard]

opencv-python
numpy
pydantic
python-dotenv

mediapipe

ffmpeg-python
openai-whisper
torch
torchaudio

praat-parselmouth
soundfile

fer==22.5.1
tensorflow-macos
ensorflow-metal